In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import resample
import warnings
warnings.simplefilter("ignore")
plt.style.use('ggplot')
color_pal = [x['color'] for x in plt.rcParams['axes.prop_cycle']]
import time
import matplotlib.patches as mpatches
import math
import os
import scipy.stats as stats
import sklearn
#For linear Regres

In [356]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')

In [357]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Cabin_n,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,NaN,S

In [358]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [359]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Cabin_n      204 non-null    object
 12  Embarked     789 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [360]:
data['Embarked'].value_counts()

S    544
C    168
Q     77
Name: Embarked, dtype: int64

In [361]:
data.Embarked.fillna('Missing',inplace=True)

In [362]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Cabin_n,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,NaN,S

In [363]:
data['Embarked'].value_counts()

S          544
C          168
Missing    102
Q           77
Name: Embarked, dtype: int64

In [334]:
data['Prob_Target_1'] = data['Survived']

In [320]:
prob_df = data.groupby(['Embarked'])['Prob_Target_1'].mean()
prob_df = pd.DataFrame(prob_df)
prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
prob_df

          Prob_Target_1  Prob_Target_0
Embarked
C              0.553571       0.446429
Missing        0.333333       0.666667
Q              0.389610       0.610390
S              0.340074       0.659926

In [364]:
prob_df = pd.DataFrame(data.groupby(['Embarked'])['Survived'].mean())
prob_df.rename(columns={'Survived': "Prob_Target_1"},inplace=True)
prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
prob_df

          Prob_Target_1  Prob_Target_0
Embarked
C              0.553571       0.446429
Missing        0.333333       0.666667
Q              0.389610       0.610390
S              0.340074       0.659926

In [354]:
prob_df

          Prob_Target_1  Prob_Target_0
Embarked
C              0.553571       0.446429
Missing        0.333333       0.666667
Q              0.389610       0.610390
S              0.340074       0.659926

In [12]:
prob_df['Ratio'] = prob_df.Prob_Target_1/prob_df.Prob_Target_0

In [13]:
prob_df

          Prob_Target_1  Prob_Target_0     Ratio
Embarked
C              0.553571       0.446429  1.240000
Missing        0.333333       0.666667  0.500000
Q              0.389610       0.610390  0.638298
S              0.340074       0.659926  0.515320

In [14]:
prob_df['Ratio'].to_dict()

{'C': 1.2400000000000002,
 'Missing': 0.49999999999999994,
 'Q': 0.6382978723404256,
 'S': 0.5153203342618384}

In [15]:
Ordered_labels = prob_df['Ratio'].to_dict()

In [16]:
data['Embarked_Encoded'] = data.Embarked.map(Ordered_labels)

In [17]:
data['Embarked_Encoded'].value_counts()

0.515320    544
1.240000    168
0.500000    102
0.638298     77
Name: Embarked_Encoded, dtype: int64

In [18]:
data['Embarked'].value_counts()

S          544
C          168
Missing    102
Q           77
Name: Embarked, dtype: int64

In [19]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')

In [20]:
data.Embarked.fillna('Missing',inplace=True)
data['Prob_Target_1'] = data['Survived']
prob_df = data.groupby(['Embarked'])['Prob_Target_1'].mean()
prob_df = pd.DataFrame(prob_df)
prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
prob_df['Ratio'] = prob_df.Prob_Target_1/prob_df.Prob_Target_0
Ordered_labels = prob_df['Ratio'].to_dict()
data['Embarked_Encoded'] = data.Embarked.map(Ordered_labels)

In [21]:
data['Embarked_Encoded'].value_counts()

0.515320    544
1.240000    168
0.500000    102
0.638298     77
Name: Embarked_Encoded, dtype: int64

In [35]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')

In [36]:
data['Embarked'].value_counts()

S    544
C    168
Q     77
Name: Embarked, dtype: int64

In [37]:
def Ratio_Encoding(df,Target_Var,variables):
    for i in variables:
        df[i].fillna('Missing',inplace=True)
        df['Prob_Target_1'] = data[Target_Var]
        prob_df = df.groupby([i])['Prob_Target_1'].mean()
        prob_df = pd.DataFrame(prob_df)
        prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
        prob_df['Ratio'] = prob_df.Prob_Target_1/prob_df.Prob_Target_0
        Ordered_labels = prob_df['Ratio'].to_dict()

        
        df[str(i) +"_Encoded"] = df[i].map(Ordered_labels)

In [39]:
key:value
    var: dictionary
        dictionary: (category : value)

NameError: name 'value' is not defined

In [38]:
Ratio_Encoding(data,'Survived',['Embarked'])

In [34]:
data['Embarked_Encoded'].value_counts()

0.515320    544
1.240000    168
0.500000    102
0.638298     77
Name: Embarked_Encoded, dtype: int64

In [247]:
class Ratio_Encoding():
    
    param_dict_ = {}
    def __init__ (self, strategy,Target_Var, variables):
        self.strategy = strategy
        self.Target_Var = Target_Var
        self.variables = variables
        
    
    def fit(self, df):
        if self.strategy == 'Ratio_Encoding':
            for i in self.variables:
                df[i].fillna('Missing',inplace=True)
                df['Prob_Target_1'] = df[self.Target_Var]
                prob_df = df.groupby([i])['Prob_Target_1'].mean()
                prob_df = pd.DataFrame(prob_df)
                prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
                prob_df['Ratio'] = prob_df.Prob_Target_1/prob_df.Prob_Target_0
                value = prob_df['Ratio'].to_dict()
                self.param_dict_[i]= value

        return self
    
    def transform(self,df):        
        for var in self.param_dict_:
            df[str(var) +"_Encoded"] = df[var].map(self.param_dict_[var])
        return df

In [246]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Cabin_n      204 non-null    object
 12  Embarked     789 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [249]:
x = Ratio_Encoding(strategy = 'Ratio_Encoding',Target_Var='Survived', variables = ['Embarked','Cabin_n'])

In [250]:
x.fit(data)
print(x.param_dict_)

{'Embarked': {'C': 1.2400000000000002, 'Missing': 0.49999999999999994, 'Q': 0.6382978723404256, 'S': 0.5153203342618384}, 'Cabin_n': {'A': 0.875, 'B': 2.916666666666666, 'C': 1.4583333333333333, 'D': 3.125, 'E': 3.0, 'F': 1.6000000000000003, 'G': 1.0, 'Missing': 0.42827442827442824, 'T': 0.0}}

In [251]:
x.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Cabin_n,Embarked,Prob_Target_1,Embarked_Encoded,Cabin_n_Encoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,Missing,S,0,0.515320,0.428274
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,1,1.240000,1.458333
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,Missing,S,1,0.515320,0.428274
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,C,S,1,0.515320,1.458333
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,Missing,S,0,0.515320,0.428274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,Missing,Missing,0,0.500000,0.428274
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,B,Missing,1,0.500000,2.916667
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,Missing,Missing,0,0.500000,0.428274
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C,1,1.240000,1.458333
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Missing,Q,0,0.638298,0.428274

In [252]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       891 non-null    int64
 1   Survived          891 non-null    int64
 2   Pclass            891 non-null    int64
 3   Name              891 non-null    object
 4   Sex               891 non-null    object
 5   Age               714 non-null    float64
 6   SibSp             891 non-null    int64
 7   Parch             891 non-null    int64
 8   Ticket            891 non-null    object
 9   Fare              891 non-null    float64
 10  Cabin             204 non-null    object
 11  Cabin_n           891 non-null    object
 12  Embarked          891 non-null    object
 13  Prob_Target_1     891 non-null    int64
 14  Embarked_Encoded  891 non-null    float64
 15  Cabin_n_Encoded   891 non-null    float64
dtypes: float64(4), int64(6), object(6)
memory usage: 111.5+ KB

In [253]:
data['Embarked_Encoded'].value_counts()

0.515320    544
1.240000    168
0.500000    102
0.638298     77
Name: Embarked_Encoded, dtype: int64

In [254]:
data['Cabin_n'].value_counts()

Missing    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: Cabin_n, dtype: int64

In [255]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')
data.Embarked.fillna('Missing',inplace=True)

In [229]:
per_df = pd.crosstab(data['Embarked'], data['Survived'], normalize='columns').mul(100)

In [230]:
per_df = pd.DataFrame(per_df)

In [231]:
per_df

Survived          0          1
Embarked
C         13.661202  27.192982
Missing   12.386157   9.941520
Q          8.561020   8.771930
S         65.391621  54.093567

In [232]:
per_df.rename(columns={0: "Target_0_Per", 1: "Target_1_Per"},inplace=True)

In [233]:
per_df

Survived  Target_0_Per  Target_1_Per
Embarked
C            13.661202     27.192982
Missing      12.386157      9.941520
Q             8.561020      8.771930
S            65.391621     54.093567

In [234]:
per_df['WOE'] = np.log(per_df['Target_1_Per']/per_df['Target_0_Per'])

In [235]:
per_df

Survived  Target_0_Per  Target_1_Per       WOE
Embarked
C            13.661202     27.192982  0.688399
Missing      12.386157      9.941520 -0.219859
Q             8.561020      8.771930  0.024337
S            65.391621     54.093567 -0.189679

In [236]:
WOE_labels = per_df['WOE'].to_dict()

In [237]:
WOE_labels

{'C': 0.6883990840638708,
 'Missing': -0.2198594761130199,
 'Q': 0.024337484399022006,
 'S': -0.1896788589630286}

In [238]:
data['Embarked_WOE_Encoded'] = data.Embarked.map(WOE_labels)

In [240]:
data['Embarked_WOE_Encoded'].value_counts()

-0.189679    544
 0.688399    168
-0.219859    102
 0.024337     77
Name: Embarked_WOE_Encoded, dtype: int64

In [ ]:
data.Embarked.fillna('Missing',inplace=True)
per_df = pd.crosstab(data['Embarked'], data['Survived'], normalize='columns').mul(100)
per_df = pd.DataFrame(per_df)
per_df.rename(columns={0: "Target_0_Per", 1: "Target_1_Per"},inplace=True)
per_df['WOE'] = np.log(per_df['Target_1_Per']/per_df['Target_0_Per'])
WOE_labels = per_df['WOE'].to_dict()
data['Embarked_WOE_Encoded'] = data.Embarked.map(WOE_labels)

In [265]:
def Ratio_Encoding(df,Target_Var,variables):
    for i in variables:
        df[i].fillna('Missing',inplace=True)
        per_df = pd.crosstab(df[i], df[Target_Var], normalize='columns').mul(100)
        per_df = pd.DataFrame(per_df)
        per_df.rename(columns={0: "Target_0_Per", 1: "Target_1_Per"},inplace=True)
        per_df['WOE'] = np.log(per_df['Target_1_Per']/per_df['Target_0_Per'])
        WOE_labels = per_df['WOE'].to_dict()        
        df[str(i) +"_WOE_Encoded"] = df[i].map(WOE_labels)

In [266]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Cabin_n      204 non-null    object
 12  Embarked     789 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [267]:
Ratio_Encoding(data,'Survived',['Embarked','Cabin_n'])

In [268]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           891 non-null    int64
 1   Survived              891 non-null    int64
 2   Pclass                891 non-null    int64
 3   Name                  891 non-null    object
 4   Sex                   891 non-null    object
 5   Age                   714 non-null    float64
 6   SibSp                 891 non-null    int64
 7   Parch                 891 non-null    int64
 8   Ticket                891 non-null    object
 9   Fare                  891 non-null    float64
 10  Cabin                 204 non-null    object
 11  Cabin_n               891 non-null    object
 12  Embarked              891 non-null    object
 13  Embarked_WOE_Encoded  891 non-null    float64
 14  Cabin_n_WOE_Encoded   891 non-null    float64
dtypes: float64(4), int64(5), object(6)
memory usage: 104.5+ KB

In [269]:
data['Embarked_WOE_Encoded'].value_counts()

-0.189679    544
 0.688399    168
-0.219859    102
 0.024337     77
Name: Embarked_WOE_Encoded, dtype: int64

In [270]:
data['Cabin_n_WOE_Encoded'].value_counts()

-0.374703    687
 0.850582     59
 1.543729     47
 1.612722     33
 1.571900     32
 0.339756     15
 0.943291     13
 0.473288      4
-inf           1
Name: Cabin_n_WOE_Encoded, dtype: int64

In [288]:
class Encoding():
    
    param_dict_ = {}
    def __init__ (self, strategy,Target_Var, variables):
        self.strategy = strategy
        self.Target_Var = Target_Var
        self.variables = variables
        
    
    def fit(self, df):
        if self.strategy == 'Ratio_Encoding':
            for i in self.variables:
                df[i].fillna('Missing',inplace=True)
                df['Prob_Target_1'] = df[self.Target_Var]
                prob_df = df.groupby([i])['Prob_Target_1'].mean()
                prob_df = pd.DataFrame(prob_df)
                prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
                prob_df['Ratio'] = prob_df.Prob_Target_1/prob_df.Prob_Target_0
                value = prob_df['Ratio'].to_dict()
                self.param_dict_[i]= value

        
        if self.strategy == 'WOE_Encoding':
            for i in self.variables:
                df[i].fillna('Missing',inplace=True)
                per_df = pd.crosstab(df[i], df[self.Target_Var], normalize='columns').mul(100)
                per_df = pd.DataFrame(per_df)
                per_df.rename(columns={0: "Target_0_Per", 1: "Target_1_Per"},inplace=True)
                per_df['WOE'] = np.log(per_df['Target_1_Per']/per_df['Target_0_Per'])
                value = per_df['WOE'].to_dict()        
                self.param_dict_[i]= value               
                
        return self
    
    def transform(self,df):
        if self.strategy == 'Ratio_Encoding':
            for var in self.param_dict_:
                df[str(var) +"_Encoded"] = df[var].map(self.param_dict_[var])

        if self.strategy == 'WOE_Encoding':
            for var in self.param_dict_:
                df[str(var) +"_WOE_Encoded"] = df[var].map(self.param_dict_[var])
        
        return df

In [416]:
class Encoding():
    
    param_dict_ = {}
    def __init__ (self, strategy,Target_Var, variables):
        self.strategy = strategy
        self.Target_Var = Target_Var
        self.variables = variables
    
    
    def fit(self, df):

            if self.strategy == 'Ratio_Encoding':
                for i in self.variables:
                    df[i].fillna('Missing',inplace=True)
                    prob_df = pd.DataFrame(df.groupby([i])[self.Target_Var].mean())
                    prob_df.rename(columns={self.Target_Var: "Prob_Target_1"},inplace=True)
                    prob_df['Prob_Target_0'] =  1- prob_df.Prob_Target_1
                    prob_df['Ratio'] = prob_df.Prob_Target_1/prob_df.Prob_Target_0
                    value = prob_df['Ratio'].to_dict()
                    self.param_dict_[i]= value


            if self.strategy == 'WOE_Encoding':
                for i in self.variables:
                    df[i].fillna('Missing',inplace=True)
                    per_df = pd.DataFrame(pd.crosstab(df[i], df[self.Target_Var], normalize='columns').mul(100))
                    per_df.rename(columns={0: "Target_0_Per", 1: "Target_1_Per"},inplace=True)
                    per_df['WOE'] = np.log(per_df['Target_1_Per']/per_df['Target_0_Per'])
                    value = per_df['WOE'].to_dict()        
                    self.param_dict_[i]= value               

            return self
    
    def transform(self,df):
        if self.strategy == 'Ratio_Encoding':
            for var in self.param_dict_:
                df[str(var) +"_Ratio_Encoded"] = df[var].map(self.param_dict_[var])

        if self.strategy == 'WOE_Encoding':
            for var in self.param_dict_:
                df[str(var) +"_WOE_Encoded"] = df[var].map(self.param_dict_[var])
        
        return df

In [417]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Cabin_n      204 non-null    object
 12  Embarked     789 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [418]:
x = Encoding(strategy = 'Ratio_Encoding',Target_Var='Survived', variables = ['Embarked','Cabin_n'])

In [419]:
x.fit(data)
print(x.param_dict_)

{'Embarked': {'C': 1.2400000000000002, 'Missing': 0.49999999999999994, 'Q': 0.6382978723404256, 'S': 0.5153203342618384}, 'Cabin_n': {'A': 0.875, 'B': 2.916666666666666, 'C': 1.4583333333333333, 'D': 3.125, 'E': 3.0, 'F': 1.6000000000000003, 'G': 1.0, 'Missing': 0.42827442827442824, 'T': 0.0}}

In [420]:
x.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Cabin_n,Embarked,Embarked_Ratio_Encoded,Cabin_n_Ratio_Encoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,Missing,S,0.515320,0.428274
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,1.240000,1.458333
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,Missing,S,0.515320,0.428274
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,C,S,0.515320,1.458333
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,Missing,S,0.515320,0.428274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,Missing,Missing,0.500000,0.428274
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,B,Missing,0.500000,2.916667
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,Missing,Missing,0.500000,0.428274
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C,1.240000,1.458333
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Missing,Q,0.638298,0.428274

In [423]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PassengerId             891 non-null    int64
 1   Survived                891 non-null    int64
 2   Pclass                  891 non-null    int64
 3   Name                    891 non-null    object
 4   Sex                     891 non-null    object
 5   Age                     714 non-null    float64
 6   SibSp                   891 non-null    int64
 7   Parch                   891 non-null    int64
 8   Ticket                  891 non-null    object
 9   Fare                    891 non-null    float64
 10  Cabin                   204 non-null    object
 11  Cabin_n                 891 non-null    object
 12  Embarked                891 non-null    object
 13  Embarked_Ratio_Encoded  891 non-null    float64
 14  Cabin_n_Ratio_Encoded   891 non-null    float64
dtypes: float64(4), int64(5), object(6)
memory usage: 104.5+ KB

In [425]:
data['Embarked_Ratio_Encoded'].value_counts()

0.515320    544
1.240000    168
0.500000    102
0.638298     77
Name: Embarked_Ratio_Encoded, dtype: int64

In [426]:
data['Cabin_n_Ratio_Encoded'].value_counts()

0.428274    687
1.458333     59
2.916667     47
3.125000     33
3.000000     32
0.875000     15
1.600000     13
1.000000      4
0.000000      1
Name: Cabin_n_Ratio_Encoded, dtype: int64

In [427]:
data = pd.read_csv('F:/RBS/Titanic/train.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Cabin_n      204 non-null    object
 12  Embarked     789 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [428]:
x = Encoding(strategy = 'WOE_Encoding',Target_Var='Survived', variables = ['Embarked','Cabin_n'])

In [429]:
x.fit(data)
print(x.param_dict_)

{'Embarked': {'C': 0.6883990840638708, 'Missing': -0.2198594761130199, 'Q': 0.024337484399022006, 'S': -0.1896788589630286}, 'Cabin_n': {'A': 0.33975631182240296, 'B': 1.5437291161483386, 'C': 0.8505819355883933, 'D': 1.6127219876352903, 'E': 1.5718999931150353, 'F': 0.9432913336926608, 'G': 0.47328770444692553, 'Missing': -0.37470339686925463, 'T': -inf}}

In [430]:
x.transform(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Cabin_n,Embarked,Embarked_WOE_Encoded,Cabin_n_WOE_Encoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,Missing,S,-0.189679,-0.374703
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,0.688399,0.850582
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,Missing,S,-0.189679,-0.374703
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,C,S,-0.189679,0.850582
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,Missing,S,-0.189679,-0.374703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,Missing,Missing,-0.219859,-0.374703
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,B,Missing,-0.219859,1.543729
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,Missing,Missing,-0.219859,-0.374703
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C,0.688399,0.850582
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Missing,Q,0.024337,-0.374703

In [431]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           891 non-null    int64
 1   Survived              891 non-null    int64
 2   Pclass                891 non-null    int64
 3   Name                  891 non-null    object
 4   Sex                   891 non-null    object
 5   Age                   714 non-null    float64
 6   SibSp                 891 non-null    int64
 7   Parch                 891 non-null    int64
 8   Ticket                891 non-null    object
 9   Fare                  891 non-null    float64
 10  Cabin                 204 non-null    object
 11  Cabin_n               891 non-null    object
 12  Embarked              891 non-null    object
 13  Embarked_WOE_Encoded  891 non-null    float64
 14  Cabin_n_WOE_Encoded   891 non-null    float64
dtypes: float64(4), int64(5), object(6)
memory usage: 104.5+ KB

In [432]:
data['Embarked_WOE_Encoded'].value_counts()

-0.189679    544
 0.688399    168
-0.219859    102
 0.024337     77
Name: Embarked_WOE_Encoded, dtype: int64

In [433]:
data['Cabin_n_WOE_Encoded'].value_counts()

-0.374703    687
 0.850582     59
 1.543729     47
 1.612722     33
 1.571900     32
 0.339756     15
 0.943291     13
 0.473288      4
-inf           1
Name: Cabin_n_WOE_Encoded, dtype: int64